.todo__list {
    margin-bottom: 30px;
}

.todo__list li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
}

.todo__list li span {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
    white-space: nowrap;

}

.todo__list-active {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.todo__list li i {
    margin-right: 10px;
}

.todo__list-delete {
    display: none;
    align-self: flex-end;
    right: 15px;
    cursor: pointer;
    margin-left: 5px;
}

.todo__list-delete svg path {
    transition: 0.4s;
}

.todo__list-delete:hover svg path {
    transition: 0.4s;
    fill: black;
}