* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.todo__sidebar {
  background-color: #f4f6f8;
  width: calc(205px - 40px);
  /* height: calc(100% - 10px); */
  border-right: 1px solid #f1f1f1;
  padding: 60px 20px;
  overflow: auto;
}

.field {
  transition: 0.4s;
  width: 100%;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
}

.field:focus {
  transition: 0.4s;
  border-color: #bdbdbd;
}

.button {
  cursor: pointer;
  transition: 0.4s;
  border: none;
  background: #4dd599;
  color: white;
  border-radius: 4px;
  padding: 10px 0px;
}

.button:hover {
  transition: 0.4s;
  background: #47c08c;
}

.button:active {
  transition: 0.4s;
  background: #3da578;
}

.button:disabled {
  background: #c7c7c7;
}

.list-item ul li {
  transition: 0.4s;
}

.list-item ul li:hover {
  transition: 0.4s;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.list-item ul li:hover .todo__list-delete {
  display: block;
}
